<h1>Find restaurants</h1>
<hr>
<div class="row">
  <div class="col-md-3">
    <%= render 'shared/search' %>
    <%= render 'shared/filter' %>
    <%= render 'shared/filter_form' %>
    <%= render 'shared/find_by_location' %>
  </div>
  <div class="col-md-9">
    <%= render 'shared/results' %>
  </div>
</div>
